p {
    color:#C0392B;
}
h1 {
    color:#27AE60;
}
a {
    color:#8E44AD; 
}


.test {
    font-size:  60px;
    font-style: oblique;
}
.center {
    display: contents;
    margin: right 100px;;
    margin: left 100px;;
    width: 1500px;;
}
.center{
    text-align: center;
    font-size: 100px;
}
.body{
    background-color:#EBDEF0;
}
.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}
